body {
    background: url(sigmaback.jpg) repeat;
  }
  img{
    padding-left: 70px;
    padding-top: 40px;
  }
  body:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image:linear-gradient(to bottom right,rgba(135,3,178,0.38), rgba(4,43,20,0.38)) ;
     }

      .lbox{
        width: 280px;
        height: 380PX;
        background-color: white;
        box-sizing: border-box;
        position: absolute;
        transform: translate(-50%,-50%);
        top:55%;
        left: 50%;
        border-radius: 5%;
        padding: 70px 30px;
    }

    .logo{

      width: 250px;
    
          position: relative;
          top: 40%;
          left: 35%;
        /*width: 400px;
        position: relative;
        top: 30%;
        left:38%;*/
    }
    .lbox input{
        width:100%;
        height: 25px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .lbox input[type=text], input[type=password], input[type=Email]{
        outline:black;
        height: 40px;
        background:#fff;
        color: rgb(15, 13, 13);
        font-size: 18px;
        border-radius: 20px;
        text-align: center;
    }
    
    
.lbox input[type=submit]{
    border:none;
    outline:none;
    height: 40px;
    background:#8703b2;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

a{
  text-decoration: none;
    font-weight: bold;
    color: purple;
    font-size: 14px;
}

a[register]{
  padding-left: 10px;
  padding-right: 40px;
}
